<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262309608840-ndqk8u7tfq63avfpe5baut8j0ja389j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262309608840-ndqk8u7tfq63avfpe5baut8j0ja389j5</string>
	<key>API_KEY</key>
	<string>AIzaSyB2D8QqO8hH0JpNFaUzayOvsCnnJkeJfXs</string>
	<key>GCM_SENDER_ID</key>
	<string>262309608840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riderapp</string>
	<key>PROJECT_ID</key>
	<string>bikerider-22</string>
	<key>STORAGE_BUCKET</key>
	<string>bikerider-22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262309608840:ios:4fbedf1bf354bb1eebce3d</string>
</dict>
</plist>